<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav class="find-track__mat-sidenav" #sidenav mode="side" [(opened)]="sidebarOpen">
    <app-find-track-sidebar></app-find-track-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="find-track__mat-sidenav-content">

    <app-find-truck-map></app-find-truck-map>

  </mat-sidenav-content>

</mat-sidenav-container>
