@import "../../../theme"

$darken_background_color: darken($dark_grey, 15%)
::ng-deep .find-track__mat-sidenav .mat-drawer-inner-container
  width: 1.5 * $small-sidebar-width !important
  background-color: transparentize($darken_background_color, 0.2)
  box-shadow: 3px 0px 5px 0px rgba(230,89,230,1)
  font-size: $font-size-basic
  padding: 2rem


.find-track__mock_map
  background-color: white
