<div *ngIf="form" class="form-container">

  <form class="sidebar__form" (submit)="onSubmit()" [formGroup]="form">

    <mat-form-field>
      <mat-select formControlName="from" placeholder="Skąd">
        <mat-option *ngFor="let path of paths" [value]="path">
          {{path.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="to" placeholder="Dokąd">
        <mat-option *ngFor="let path of paths" [value]="path">
          {{path.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="choosenVehicle" placeholder="Samochód">
        <mat-option *ngFor="let car of predefinedVehicles" [value]="car">
          {{car.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <hr>

    <mat-checkbox formControlName="vehicleEdited">Edytuj</mat-checkbox>

    <div class="form-group" formGroupName="vehicle">

      <mat-form-field>
        <input matInput formControlName="height" placeholder="Wysokość" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="width" placeholder="Szerokość" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="mass" placeholder="Waga" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="turningRadius" placeholder="Promień skrętu" required>
      </mat-form-field>


    </div>

  </form>

  <!--<mat-vertical-stepper [linear]="isLinear" #stepper>-->
    <!--<mat-step [stepControl]="firstFormGroup">-->
      <!--<form [formGroup]="firstFormGroup">-->
        <!--<div>test 1</div>-->
        <!--<div>-->
          <!--<button mat-button matStepperNext>Next</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</mat-step>-->
    <!--<mat-step [stepControl]="secondFormGroup">-->
      <!--<form [formGroup]="secondFormGroup">-->
        <!--<div>test 2</div>-->
        <!--<div>-->
          <!--<button mat-button matStepperPrevious>Back</button>-->
          <!--<button mat-button matStepperNext>Next</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</mat-step>-->
    <!--<mat-step>-->
      <!--<ng-template matStepLabel>Done</ng-template>-->
      <!--You are now done.-->
      <!--<div>-->
        <!--<button mat-button matStepperPrevious>Back</button>-->
        <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
      <!--</div>-->
    <!--</mat-step>-->
  <!--</mat-vertical-stepper>-->

</div>
