.sidebar__form
  display: flex
  flex-direction: column

.find-track-sidebar__dropDownWrapper
  display: flex
  flex-direction: row
  align-items: center

.sidebar__mat-icon
  padding-left: 0.5rem

.sidebar__mat-icon:hover
  cursor: pointer

