$orlen_red: #d81e05;
$dark_white: #EFEFED;
$light_gray: #f3f3f3;
$dark_grey: #5a5a5a;

// --- color variables
$color-font: white;

// --- font variables
$fancy-font: 'Nunito', sans-serif;
$font-size-basic: 1rem;
$font-size-menu: 1.2rem;

// --- size variables
$small-sidebar-width: 11rem;
$desktop-menu-button-height: 6rem;
