@import "../../theme.scss"

@mixin button_wrapper
  //display: flex
  //justify-content: center
  //align-items: center
  width: $small-sidebar-width

@mixin button
  text-align: left

::ng-deep .app__mat-sidenav .mat-drawer-inner-container
  display: flex
  flex-direction: column
  width: $small-sidebar-width !important
  align-items: center
  padding-top: 1rem
  background-color: darken($dark_grey, 23%)

::ng-deep .app__mat-sidenav .mat-drawer-side
  border-right: none

::ng-deep .find-track__mat-sidenav-content
  background-color: $dark_white

.app__contrast_button_wrapper
  @include button_wrapper
  background-color: $orlen_red

.app__button_wrapper
  @include button_wrapper
  border-bottom: 1px solid darken($dark_grey, 10%)

.app__button_wrapper:hover
  border-bottom: 1px solid $orlen_red


.app__mat-icon
  //font-size: 2rem;
  margin-right: $font-size-menu;

.app__find_track_button
  width: 100%
  background-color: transparent
  height: $desktop-menu-button-height
  font-family: $fancy-font
  text-transform: uppercase
  letter-spacing: 0.35rem
  font-size: $font-size-menu
  text-align: left

.logo-container
  padding: 0.5rem
  height: $desktop-menu-button-height
  img
    width: 100px
