<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav class="app__mat-sidenav" #sidenav mode="side" [opened]="true">

    <a class="logo-container" routerLink="/">
      <img src="../../assets/orlen_cropped.svg" alt="PKN Orlen">
    </a>

    <div>
      <div class="app__contrast_button_wrapper">
        <button class="app__find_track_button" mat-flat-button routerLink="/panel/find-track">
          <mat-icon class="app__mat-icon">place</mat-icon>
          <span>Trasa</span>
        </button>
      </div>
      <div class="app__button_wrapper">
        <button class="app__find_track_button" mat-flat-button routerLink="/find-track">
          <mat-icon class="app__mat-icon">local_shipping</mat-icon>
          <span>Test</span>
        </button>
      </div>
      <div class="app__button_wrapper">
        <button class="app__find_track_button" mat-flat-button routerLink="/find-track">
          <mat-icon class="app__mat-icon">traffic</mat-icon>
          <span>Test</span>
        </button>
      </div>
      <div class="app__button_wrapper">
        <button class="app__find_track_button" mat-flat-button routerLink="/find-track">
          <mat-icon class="app__mat-icon">map</mat-icon>
          <span>Test</span>
        </button>
      </div>
    </div>


  </mat-sidenav>

  <mat-sidenav-content>

    <mat-sidenav-container class="app-sidenav-container">

      <mat-sidenav class="find-track__mat-sidenav" #sidenav mode="side">
        <app-find-track-sidebar></app-find-track-sidebar>
      </mat-sidenav>

      <mat-sidenav-content>

        <router-outlet></router-outlet>

      </mat-sidenav-content>

    </mat-sidenav-container>

  </mat-sidenav-content>

</mat-sidenav-container>
